<dx-data-grid [dataSource]="words"
              (onRowInserting)="grid_rowInserting($event)"
              (onRowUpdating)="grid_rowUpdating($event)"
              (onRowRemoving)="grid_rowRemoving($event)"
              [masterDetail]="{ enabled: false, template: 'detail' }"
              (onSelectionChanged)="selectionChanged($event)"
              keyExpr="id"
>

    <!--    (onRowClick)="grid_rowClick($event)"-->
    <dxo-editing
        mode="form"
        [allowDeleting]="true"
        [allowUpdating]="true"
        [allowAdding]="true">
    </dxo-editing>

    <dxi-column dataField="text" caption="Word" cellTemplate="cellTemplate" [sortIndex]="0" sortOrder="asc"></dxi-column>
    <dxi-column dataField="association" [visible]="false"></dxi-column>
    <dxi-column dataField="description" [visible]="false"></dxi-column>
    <dxi-column
        dataField="synonyms"
        [visible]="false">
        <dxo-lookup
            [dataSource]="getFilteredWords2"

            displayExpr="text">
        </dxo-lookup>
        <dxo-form-item
            [colSpan]="2"
            editorType="dxTagBox"
            [editorOptions]="{ acceptCustomValue: true, onCustomItemCreating: tagBox_customItemCreating}">
        </dxo-form-item>
    </dxi-column>

    <dxo-selection mode="single"></dxo-selection>

    <div *dxTemplate="let row of 'detail'">
        <div *ngIf="row.data.synonyms">
            <span class="synonym" *ngFor="let synonym of row.data.synonyms">{{synonym.text}}</span>
        </div>
    </div>

    <div *dxTemplate="let cell of 'cellTemplate'">
                <div class="word">{{cell.data.text}}</div>
                <div class="association" *ngIf="cell.data.association">{{cell.data.association}}</div>
                <div class="description" *ngIf="cell.data.description">{{cell.data.description}}</div>
    </div>
</dx-data-grid>
