<dx-data-grid [dataSource]="words"
              (onRowClick)="grid_rowClick($event)"
              (onRowInserting)="grid_rowInserting($event)"
              (onRowUpdating)="grid_rowUpdating($event)"
              (onRowRemoving)="grid_rowRemoving($event)"
              keyExpr="id">
  <dxo-editing
    mode="form"
    [allowDeleting]="true"
    [allowUpdating]="true"
    [allowAdding]="true">
  </dxo-editing>

  <dxi-column dataField="text" caption="Word"></dxi-column>
  <dxi-column dataField="association"></dxi-column>
  <dxi-column dataField="description"></dxi-column>

</dx-data-grid>
