::ng-deep #gridContainer {
    height: 440px;
}
::ng-deep #gridContainer .dx-datagrid-content tr.dx-data-row {
    cursor: pointer;
}
.synonym {
    margin-right: 1rem;
    border-radius: 10%;
    background-color: lightgray;
    padding: 2px 5px;
}
