::ng-deep #gridContainer {
    height: 440px;
}
::ng-deep #gridContainer .dx-datagrid-content tr.dx-data-row {
    cursor: pointer;
}
.synonym {
    margin-right: 1rem;
    border-radius: 10%;
    background-color: lightgray;
    padding: 2px 5px;
}
.word {
    font-size: 14px;
    font-weight: 700;
}
.association {
    font-style: italic;

    &:before {
        content: '„';
    }
    &:after {
        content: '”';
    }
}
.description {
    color: darkgray;
}
.usages {
    color: darkgray;
}
.examples-of-use {
    white-space: pre-wrap;
}
.detail-row {
    &:not(:last-child) {
        margin-bottom: 1rem;
    }

    .detail-label {
        color: darkgray;
    }
}
